@CHARSET "ISO-8859-1";

body {
	background-color: #ffffff;
}

div#interface {
	background-color: #cecece;
	width: 900px;
	height: 650px;
	margin: -22px auto -50px auto;
	box-shadow: 0px 0px 10px rgba(0,0,0, 0.5);
}

div#corpo {
	background-color: #ffffff;
	height: 520px;
	position: absolute;
	width: 900px;
	border-top: 1px solid rgba(0,0,0, .5);
	border-bottom: 1px solid rgba(0,0,0, .5);
}

header#cabecalho {
	background: url("fundo-azul-claro.jpg");
	height: 90px;
	
}

header#cabecalho h5 {
	float:right;
	margin-right: 15px;
}


fieldset#usuario {
	background-color: #ffffff;
	padding: 10px;
	width: 250px;
	background: url("fundo-azul.jpg");
	color: rgba(0,0,0, .6);
	margin: auto;
	margin-top: 125px;

}