@CHARSET "ISO-8859-1";
@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);


body {
	background-color: #dddddd;
	

}

a {
	
}

div#conteudo {
	background-color: #ffffff;
	height: 640px;
	width: 900px;
	margin: -20px auto -10px auto;
	box-shadow: 0px 5px 5px rgba(0,0,0, .5);
	

}

header#cabecalho {
	background: url("fundo-azul-claro.jpg");
	border-bottom: 1px solid rgba(0,0,0, 0.5);
	font-family: 'Cutive Mono', sans-serif;
	height: 107px;
	font-size: 13pt;

}

header#cabecalho img {
	position: absolute;
	right: 240px;
	top: 10px;
}

header#cabecalho h1 {
	margin: 20px;
}

header#cabecalho h2 {
	margin: 20px;
}

header#cabecalho h6 {
	margin-top: -100px;
	margin-right: 180px;
	float: right;
}

header#cabecalho h6 span {
	float: right;
	margin-right: 50px;
}



nav#menu-principal {
	float: left;
	width: 900px;
}

nav#menu-principal ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: -1px;
	z-index: 1;
	
}

nav#menu-principal ul li {
	float: left;
	position: relative;
	display: block;
}

nav#menu-principal ul li a {
	color: #555;
	background-color: #1E90FF;
	text-decoration: none;
	margin: 0 1px;
	padding: 5px 10px;
	display: block;
	transition: background-color 1s;
}

nav#menu-principal li ul {
	display: none;
}

nav#menu-principal ul li a:hover {
	background-color: #066;
	color: #ffffff;
}

nav#menu-principal li:hover ul {
	display: block;
	position: relative;
}

nav#menu-principal li:hover li {
	float: none;
	font-size: 12pt;
}

nav#menu-principal li:hover a {
	background: #333;
	color: #ffffff;
	
}

div#corpo {
	background-color: #ffffff;
	margin-top: 29px;
	border-top: 1px solid rgba(0,0,0, .5);
	height: 502px;
	position: absolute;
	width: 900px;
}

footer#rodape {
	background-color: #F5F5F5;
	margin-top: 400px;
	height: 85px;
	width: 900px;
	border-top: 1px solid rgba(0,0,0, .5);
	
}

table#cliente {
	border-collapse:collapse; 
	border:1px solid rgba(0,0,0, .5); 
	border-spacing: 0px;
	background-color:#FFFFFF;
	margin: auto;
	margin-top: 10px;
}

table#cliente td {
	border: 1px solid;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}

div#tbl-cliente {
	margin: auto;
	width:750px; 
	height:300px;
	overflow:auto;
	
}

table#produto {
	border-collapse:collapse; 
	border:1px solid rgba(0,0,0, .5); 
	border-spacing: 0px;
	background-color:#FFFFFF;
	margin: auto;
	margin-top: 10px;
}

table#produto td {
	border: 1px solid;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}

div#tbl-produto {
	margin: auto;
	width:750px; 
	height:300px;
	overflow:auto;
	
}
